@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{

 /* primary colors */
    --clr-primary-red: hsl(1, 90%, 64%);
    --clr-primary-blue: hsl(219, 85%, 26%);

 
/* secondary colors */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
    --clr-neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
    --clr-neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
    --clr-neutral-grayish-blue: hsl(219, 14%, 63%);
    --clr-neutral-dark-grayish-blue: hsl(219, 12%, 42%);
    --clr-neutral-very-dark-blue: hsl(224, 21%, 14%);

/* typography */
    --fs-base: 16px;
    --ff-primary: "Plus Jakarta Sans", sans-serif;

}

html{
    font-size: var(--fs-base);
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-very-dark-blue);
/* center body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body{
    box-sizing: border-box;
    height: 600px;
    width: 375px;
    background-color: var(--clr-neutral-white);
    padding: 1.5em 1em;

    
}

.notification-header{
    color: var(--clr-neutral-very-dark-blue);
    margin: 0px;
    font-size: larger;
}
.unread-msg-counter{
    background-color: var(--clr-primary-blue);
    color: var(--clr-neutral-white);
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 5px;
    margin-left: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
    display: flex;
}

.mark-as-read{
    
}
.notifications-container{
    
    
    margin-top: 1.25em;
    display: flex;
    flex-direction: column;
}
.notification{
    
    display: flex;
    font-size: smaller;
    background-color: var(--clr-neutral-very-light-grayish-blue);
    border-radius: 10px;

}
.left-section{
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.right-section{
    padding-right: 1em;
}
img{
    max-width: 100%;
}